{% extends "admin/change_list.html" %}
{% load static %}
{% block extrahead %}
    {% load user_tag %}
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.min.js"></script>
    <script src="{% static 'javascript/graph.js' %}"></script>
    <script src="{% static 'javascript/data_parser.js' %}"></script>
    <script>

        window.onload = () => {
            const user_data = data_parser('user_data_set');
            const verification_data = data_parser('verified_users');

            const ctx = get_ctx('user_chart');
            const ctx2 = get_ctx('verfication_chart');

            graph(dom_name = ctx, graph_type = 'bar', heading = 'user registration per day',
                labels_data = user_data.map(x => x[0]),
                dataset = user_data.map(x => x[1])
            )
            graph(dom_name = ctx2, graph_type = 'polarArea', heading = 'unverified or unverified user',
                labels_data = Object.keys(verification_data),
                dataset = Object.values(verification_data)
            )
        }

    </script>

{% endblock %}
{% block content %}
    <div class="divider"></div>
    <input type="hidden" id="user_data_set" value="{{ e|user_data_set }}">
    <input type="hidden" id="verified_users" value="{{ e|verified_users }}">
    <div class="space">
        <canvas id="user_chart" width="400" height="100"></canvas>
        <canvas id="verfication_chart" width="400" height="100"></canvas>
    </div>
    {{ block.super }}
{% endblock %}