{% extends "admin/change_list.html" %}
{% load static %}
{% block extrahead %}
    {% load user_tag %}
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.min.js"></script>
    <script>

            window.onload = () => {

            const ctx = document.getElementById('myChart').getContext('2d');
            const graph = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: JSON.parse(document.getElementById('user_lables_set').value),
                    datasets: [{
                        label: 'user registration per day',
                        {# No of registration per day  #}
                        data: [1,2],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    animation: false,
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });


        }

    </script>
{% endblock %}
{% block content %}
    <div class="divider"></div>
    <input type="hidden" id="user_lables_set"  value='{{ e|user_lables_set }}'>

    <div class="space">

       <canvas id="myChart" width="400" height="100"></canvas>
    </div>
    {{ block.super }}
{% endblock %}